/**
*global styles for ALL screen pages
*l- layouts
*b- blocks
*g- global elements
*j- classess for javascript
*cr- complement rules
**/
/******************************************************************************/
/*RESETS*/
/*****************************************************************************/
@font-face {
	font-family: 'Futura'; /*a name to be used later*/
	src: url('/assets/fonts/FuturaPT-Book.woff2') format("woff2"),
		url('/assets/fonts/FuturaPT-Book.woff') format("woff"),
		url('/assets/fonts/FuturaPT-Book.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaDemi'; /*a name to be used later*/
	src: url('/assets/fonts/FuturaPT-Demi.woff2') format("woff2"),
		url('/assets/fonts/FuturaPT-Demi.woff') format("woff"),
		url('/assets/fonts/FuturaPT-Demi.ttf') format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'rublregular';
    src: url('/fonts/rouble.eot');
    src: url('/fonts/rouble.eot#iefix') format('embedded-opentype'),
         url('/fonts/rouble.woff') format('woff'),
		 url('/fonts/rouble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset, legend, input, select, button,textarea,p, blockquote,
table, th,td {margin:0; padding:0; position: relative; vertical-align: middle; outline: none; border-spacing: 0;}
fieldset,img,abbr,acronym {border:0;position: relative;}
img{vertical-align:bottom;}
ol,ul {list-style:none;position: relative;}
caption,th {text-align:left; overflow: hidden; }
q{quotes: "\00AB" "\00BB";}
p{line-height: inherit;}

html {font-size: 0.75em;}
body {font: normal 1em/1.33 Tahoma, "Liberation Sans", FreeSans, sans-serif; background: #fff; 	overflow-anchor: none;}
html, body{
	width: 100%; height: 100%; min-height:100%;
	margin: 0px auto;
}
/* pixel tracking */
body > img {
	position: absolute;
	top: -10px;
}
body > iframe{
	width: 1px;
	height: 1px;
	position: absolute;
}
body > iframe#redactor_frame{
	width: inherit !important;
	height: inherit !important;
	position: relative;
	z-index: 2;
	top: 0;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;}

a {
	color: #0072BC;
	outline: none;
}

a:hover {
	color: #BC1242;
	text-shadow: none;
}

/******************************************************************************/
/*GLOBAL*/
/******************************************************************************/


.g-no_href, .g-no_href:hover{
	text-decoration: none;
	color: inherit !important;
}
.g-pseudo_href{/*псевдо-ссылка*/
	color: #0072BC;
	border-bottom: 1px dotted rgba(0, 114, 188, 0.5);
	cursor: pointer;
	pointer-events: auto;
}
a.g-pseudo_href{
	text-decoration: none;
	border-bottom-style: dotted !important;
}
.g-pseudo_href-sale{/*уценка*/
	color: #EA1653;
	border-color: rgba(234,22,83,0.4);
}
.g-pseudo_href:hover{
	color: #BC1242 !important;
	border-color: #BC1242 !important;
}

.g-pseudo_btn{
	text-decoration: none;
}
.g-pseudo_btn .pseudo_btn__text{
	border-bottom: 1px dotted #0072BC;
}
.g-pseudo_btn:hover .pseudo_btn__text{
	color: #EA1653;
	border-bottom: 1px dotted #EA1653;
}

.g-attention{
	color: #EA1653;
}
.g-hide_text {/*текст, который будет отображаться при отключенном цсс*/
	display: none;
}
.g-none{/*просто скрытый объект*/
	display: none /*!important - нельзя, иначе ломается расчет доставки*/;
}
.g-preloader{
	display: block;
	background: url('/img/loader.gif') no-repeat center center;
	height: 22px;
}
/*разделители*/
.g-box_separator{
	border-bottom: 1px solid #e4e4e4;
}
.g-box_lseparator{/*легкий разделитель*/
	margin-top: 18px; padding-top: 18px;
	border-top: 1px solid #e4e4e4
}
.g-box_lseparator_b{/*легкий разделитель снизу*/
	margin-bottom: 18px;
	border-bottom: 1px solid #e4e4e4
}
.g-box_lseparator_r{/*легкий разделитель справа*/
	border-right: 1px solid #e4e4e4
}
/*стрелочки направлений - расчитаны на line-height=28*/
.g-arr{
	display: block;
	padding-right: 12px;
	line-height: 27px;
	background: url(/img/up/g-arr.png) no-repeat;
}
.g-cr-uarr, .g-cr-desc{background-position: 100% 0;}
.g-cr-darr, .g-cr-asc{background-position: 100% -28px;}
.g-cr-rarr{background-position: 100% -56px;}
.g-cr-rarr-black{background-position: 100% -84px;}

/*иконки*/
.g-icon{
	padding-left: 24px;
	line-height: 18px;
	background: url(/img/up/i-item.png) no-repeat;
}
.g-notice{
	color: #7B7B7B;
	font-size: 10px;
}
.g-gradient{
	color: #990099;
}
/*знак российского рубля*/
.g-price_uint_ru {
	font-family: 'rublregular', sans-serif;
}
/*Слайдер**********************************************************************/
.g-slider{padding: 0 24px; }
.g-slider__container{min-height: 80px; overflow: hidden;}
.g-slider__larrow, .g-slider__rarrow{
	position: absolute; z-index: 2;
	top: 0px !important;
	display: block;
	width: 24px; height: 100%;
	background: url(/img/up/arrow.png) no-repeat;
}
.g-slider__larrow{left: 0; background-position: -48px 50%;}
.g-slider__rarrow{right: 0; background-position: -72px 50%;}
	.cr-slider__lactive{cursor: pointer; background-position: -24px 50%;}
	.cr-slider__ractive{cursor: pointer; background-position: -96px 50%;}
	.cr-slider__lactive:hover{background-position: 0 50%;}
	.cr-slider__ractive:hover{background-position: -120px 50%;}

	/*похожие товары*/
	.g-slider .b-foreign_goods{
		position: absolute; left: 0; top: 0;
		width: 100%;
	}
	.g-slider .foreign_goods__item{
		float: left; overflow: hidden;
		width: 33%; min-height: 80px;
		/* margin-right: 3%;*/
	}

	.g-slider .foreign_goods__def{margin: 0;}
	.g-slider .foreign_goods__term{/*min-width: 200px;*/}


/*большая группа ссылок (навигация, быстры ссылки)*/
.g-grouplinks__header{
	margin-bottom: 5px;
	color: #000;
}
.g-grouplinks__link{
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 114, 188, 0.2);
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 0px;
	font-size: 11px;
	white-space: nowrap;
}
	.cr-grouplinks__active{
		color: #EA1653;
		border: none;
	}
.g-grouplinks__link:hover{
	border-color: rgba(188,18,66,0.2);
}

/*кнопка*/
.g-button{
	display: inline-block;
	width: 173px; height: 31px; line-height: 29px;
	background: #0072BC;
	margin: 0 0 1px;
	font-size: 12px; font-family: Tahoma, Geneva, sans-serif; color: #fff;
	text-align: center; text-decoration: none;
	cursor: pointer;
	outline: none; border: 0;
}
.g-button:hover{background: #005B96; color: #fff !important;}
.g-button.cr-btn-pressed, .g-button:active{top: 1px;}
.g-button__text {
	/*line-height: 26px; BUGS-401 --- если поваляться кнопки - раскомментировать 10.10.2014*/
	color: #fff;
}

	.cr-button__disabled, .cr-button__disabled:hover{
		background: #E2E2E2;
		cursor: default;
	}
	.cr-button__disabled .g-button__text,
	.cr-button__disabled:hover .g-button__text{
		color: #888;
		font-weight: normal;
	}

.g-button__big{
	position: relative;
	width: 301px; height: 40px;
	line-height: 37px;
	font-size: 14px;
}
.g-button__big:hover .g-button__text{
	color: #fff;
}
.g-button__bigwrapper{text-align: center !important;}

/*кнопка купить*/
.g-buybtn,
.g-basketbtn
{
	position: relative; z-index: 1;
	display: block;
	width: 130px; height: 31px;
	background: #EA1653;
}
.g-basketbtn{
	width: 126px; height: 28px; line-height: 27px;
	border: 2px solid #EA1653;
}
.g-cancelbtn{
	background: #999;
}
.g-cancelbtn:hover{
	background: #8a8a8a;
}
.g-buybtn:hover{background: #BC1242; color: #fff !important;}/*ховер над кнопкой купить*/

.g-basketbtn, .g-basketlink{
	background: #fff;
	text-decoration: underline;
	text-align: center;
	color: #EA1653;
}

.g-buylink{
	background: none;
	color: #fff; font-size: 11px;
	text-decoration: none;
	outline: none; border: 0;
	cursor: pointer;
}
.g-buylink__text{
	background: #EA1653; padding: 2px 12px 3px;
	color: #fff; font-size: 11px;
	text-decoration: none;
	outline: none; border: 0;
	cursor: pointer;
	display: inline-block;
}
.g-buylink:hover .g-buylink__text{
	background: #BC1242;
	color: #fff !important;
}
.g-basketlink{
	display: inline;
}

.g-form__set{
	padding-top: 18px;
	border-top: 1px solid #d7d7d7;
}

#j-phone{
	padding-top: 18px;
}

.g-form__buttons-set .g-button{
	width: 135px;
	margin-right: 4px;
	margin-left: 4px;
}
.g-form__set-label{
	margin: 0 0 5px 0;
}
.cr-check-radiorequired .g-form__set-label:before{
	display: inline;
	content: '*';
	color: #EA1653;
	padding: 0 4px 0 0;
}

.g-form__tools{
	text-align: center;
}

.g-form__inputwrap{
	position: relative;
	padding: 3px 6px; margin-top: 3px ;
	border: 1px solid #BEBEBE;
	background: #fff;
	box-shadow: 0px 1px 2px #eee inset;
}

.b-order-address .g-form__inputwrap {
	margin-top: 8px;
}

.cr-check-required:before{
	display: inline;
	content: '*';
	color: #EA1653;
}
.g-form__totalmessage.cr-check-required:before{
	margin-right: 1em;
}
.g-form__totalmessage{
	display: block; margin-top: -12px;
	color: #7B7B7B; font-size: 10px; text-align: left;
}

.g-form__message {
	display: block;
	margin-top: 3px;
	margin-left: 0;
	font-size: 10px;
	color: #7B7B7B;
}

.cr-state-error .g-form__inputwrap,
.cr-state-error .g-form__groupwrap {
	border: 1px solid #EA1653;
}

.cr-state-error .g-form__message {
	color: #EA1653;
}

.g-form__messages .g-form__message {
	margin: -10px 0 12px 0;
}

.g-form__messages .g-form__message {
	color: #EA1653;
}

.cr-state-focus{
	border-color: #902789 !important;
}

.g-form__text,
.g-form__textarea{
	width: 100%; border: none;
	background: transparent;
	outline: none;
	color: #6A5666;
	font-family: Arial;
}
.g-form__text{
	height: 20px;
}
.g-form__select{
	width: 200px;
	padding: 3px;
}
	.g-form__disabled, .g-form__disabled .g-form__text{color: #bdbdbd !important; pointer-events: none;}
.g-form__textarea{height: 90px; resize: none; }
	.cr-form__smalltextarea{height: 45px;}
.g-form__label{display: block; color: #252525;  margin-bottom: 16px;}

.b-order-address .g-form__label {
	margin-bottom: 0;
}

#j-addr-parts {
	overflow: hidden;
}

#j-addr-parts .g-form__label {
	float: left;
	width: 70px;
	margin-right: 8px;
}

/*прячем стандартный чекбокс*/
.g-form__check{display: none;}
/*Label при чекбоксе*/
.g-form__checklabel{
	display: block;
	min-height: 17px; line-height: 17px;
	padding-left: 20px; margin-bottom: 6px;
	background: url(/img/up/g-checkbox.png) no-repeat -51px 0; /*рисуем чекбокс*/
	cursor: pointer;
}
.g-form__checklabel:hover{background-position: -17px -36px;}
	/*чекбокс выделен*/
	.g-form__checked{background-position: -34px -18px;}
	.g-form__checked:hover{background-position: 0 -54px; }

.g-form__checklabel_r{
	margin-bottom: 0;
	padding-left: 0; padding-right: 24px;
	background-position: 100% 0; /*рисуем чекбокс*/
}
.g-form__checklabel_r:hover{background-position: 100% -36px;}
	/*чекбокс выделен*/
	.g-form__checklabel_r.g-form__checked{background-position: 100% -18px;}
	.g-form__checklabel_r.g-form__checked:hover{background-position: 100% -54px; }
.g-form__checklabel-highlight{
	font-weight: normal;
}
.g-form__radio{
	background-image:url(/img/up/g-radiobox.png);
}

/*ITEM props*/
/*price*/
.g-price{
	line-height: 1;
		white-space: nowrap;
	font-size: 14px; /*text-shadow: rgba(0,0,0,0.8) 1px 0px 0px;*/
	color: #000;
}
.g-code {
	display: block;
	color: #999;
	white-space: nowrap;
	font-size: 11px;
	font-weight: normal;
}
/*фикс отображения цены в слайдере популярных товарах*/
.b-similar .g-price{
		display: inline-block;
		height: 19px;
		width: 100%;
		background-color: white;
}

.g-oldprice{color: #aaa; text-decoration: line-through;}
.g-oldprice .b-source_tooltip{margin-left: 6px;}
.g-price__unit{margin-left: 0.3em; } /*единица стоимости*/

.g-status{
	padding-left: 24px;
	background: url(/img/up/i-item.png) no-repeat 0 0;
	line-height: 20px !important;
	/*display: inline-block;
	margin-top: 6px; margin-left: -10px;*/
	display: block;
	color: #AA90A5;
	font-size: 11px;
}
.g-status.hidden {
	display: none;
}

.cr-status__request, .g-status.cr-status__request {
	color: #FAAA32;
	background-image: url("/img/up/clock.svg");
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: 0 1px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
}

.g-status.cr-status__request {
	background-position: 1px 1px;
	background-size: 16px;
	padding-left: 23px;
}

.cr-status__request p {
	color: #A0A1A3;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin-left: -23px;
	margin-top: 6px;
}

.g-status-out{color: #EA1653; font-weight: bold;}
.g-status-limit{/*количество ограничено*/
	display: block;
	margin-top: .5em;
	color: #999;
	font-size: 10px; line-height: 1;
}

.g-disabled{color: #999; font-size: 0.917em;}

.g-price.result__price {
	position: relative;
}

.tooltip-place {
	display: inline;
	top: 2px;
	right: -1px;
}

.g-price.result__price.cr-price__in {
	display: inline-block;
}

/**Standart view for table************************************/

.g-table__header{
	border-width: 0px;
	border-color: #d1d1d1;
	border-style: solid;
}
.g-table-row__even{
	background: #f6f6f6;
}
.g-table-cell{
	padding: 9px;
	border: 0px solid #d1d1d1;
	border-bottom: 1px dotted #D1D1D1;
}
.cr-basket__adgames-td{
	padding: 20px 0;
}
.cr-basket__adgames{
	display: flex;
	align-items: center;
}
#basket-adgames-block {
	position: relative;
}
.cr-basket__adgames .cr-adgames-title{
	margin: 0 41px 0 16px;
	font-size: 14px;
	line-height: 22px;
}
.cr-adgames-text{
	width: 50%;
	font-size: 12px;
	line-height: 18px;
}
.cr-adgames-checkbox{
	margin-top: 16px;
}
.cr-adgames-checkbox span{
	margin-left: 8px;
	font-weight: normal;
}
	.g-table__header .g-table-cell{padding-top: 30px;}

.g-table-cell__hightlight{
	background: #fdf1cb;
}

/*Labels**************************************************************/
.g-free_label{
	display: inline-block;
	height: 13px;
	margin-top: 2px;
	padding: 0 9px 0 5px;
	text-transform: uppercase;
	font: bold 8px/15px Verdana, sans-serif;
	background: url(/img/up/g-free_label.png) 100% 0 repeat-y;
	color: rgba(0,0,0,0.5);
	vertical-align: top;
}

a.g-free_label {
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}

.b-result__inner .g-free_label{
	max-width: 85%;
	height: auto;
	padding: 1px 9px 0 5px;
	line-height: 12px;
}
.g-label{
	position: absolute;	right: -12px;   top: -12px;
	background: url(/img/up/g-labels.png?1) no-repeat;
	width: 61px; height: 61px;
	z-index: 6;
}
.g-label__discount{
	background-position: 0 0;
}
.g-label__superprice{
	background-position: 0 -62px;
}
.g-label__advertising {
	position: relative;
	width: 230px;
	height: 60px;
	display: inline-block;
	margin: 20px 5px 5px 0;
	padding: 4px 0 0 78px;
	text-align: left;
	text-decoration: none;
	font-family: 'FuturaDemi', Arial, sans-serif;
	font-size: 24px;
	line-height: 1em;
	color: #000;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}
.g-label__advertising:hover {
	background-color: #ebebeb;
	border-radius: 5px;
	color: #000 !important;
	-webkit-box-shadow: 0px 0px 18px 12px #ebebeb;
	-moz-box-shadow: 0px 0px 18px 12px #ebebeb;
	box-shadow: 0px 0px 18px 12px #ebebeb;
}

.g-label__advert:before {
	content: '';
	position: absolute;
	display: block;
	width: 71px;
	height: 64px;
	top: 0;
	left: 10px;
	background-repeat: no-repeat;
	background-image: url('/img/landings/advert/smart_game.png');
}
.g-label__video:before {
	content: '';
	position: absolute;
	display: block;
	width: 71px;
	height: 64px;
	top: 2px;
	left: 0;
	background-position: -167px -275px;
	background-repeat: no-repeat;
	background-image: url('/img/landings/video_contest/box-icons.png?v=2');
}
.g-label__video {
	padding-top: 10px;
	height: 54px;
}
.g-advert {
	width: 700px;
	padding-top: 5px;
	position: relative;
}
.g-advert__img {
	position: absolute;
	left: 10px;
}
span.g-advert__text {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.cr-label__additional{
	left: 15px;
}
.g-label__smalldiscount{
	background-position: -61px -96px;
	width: 28px; height: 28px;
}
.g-label__smallsuperprice{
	background-position: -88px -96px;
	width: 28px; height: 28px;
}
.g-label__smallpresent{
	background-position: -117px -96px;
	width: 28px; height: 28px;
}
.g-label__small2{/*когда два значка надо показать*/
	right: 15px;
}
.g-label__smallbox {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.cr-result__simple .g-label__smallbox {
	top: 0;
}
.g-label__smallbox .g-label {
	position: relative;
}
.basket__item .g-label{/*показываем в корзине маленькие значки*/
	margin-top: 16px;
}

.g-list-styled{
	margin: 0 0 12px 0;
}
.g-list-styled li{
	position: relative;
	line-height: 1.4em;
	margin: 0 0 3px 18px;
}
.g-list-styled li:before{
	content: "—";
	position: absolute;
	left: -18px;
}

/******************************************************************************/
/*LAYOUTS*/
/******************************************************************************/
.l-body {
	min-width: 985px;
	max-width: 1140px;
	min-height: 100%;
	margin: 0 auto;
	background: #fff;
}

.l-body.is_redactor{height: auto;}
.l-base{padding: 0 2.2%/*22px*/; }
.l-base:after, .l-clear:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}

.l-content{
	/*padding-right: 262px; 240+22*/
	margin-bottom: 18px;
	margin-left: 252px; /*240(sidebar width)+12(right padding)*/
	font-family: Arial, sans-serif;

}

.cr-content__short{margin-left: 0px; padding-bottom: 96px; overflow: hidden}

html.display-short .l-content{
	padding-bottom: 96px;
}

#block_content{/**блокировка контента*/
	position: absolute;
	left: 0; z-index: 9;
	background: none repeat scroll 0 0 #fff;
	opacity: 0.7;
}

.l-sidebar{
	float: right;
	width: 240px;
}

.l-content{
	padding-top: 10px;
}

.b-contenttizer{
	overflow: hidden;
	margin-bottom: 24px;
}
@media screen and (max-width: 1100px){
	.b-contenttizer img{margin-left: -5%;}
}

/******************************************************************************/
/*HEADER*/
/******************************************************************************/

/* b-logo < */
.b-logo {
	position: relative;
	display: block;
	width: 148px;
	height: 48px;
	text-indent: -10000px;
	background-image: url("/img/up/b-logo.png");
	background-repeat: no-repeat;
	background-size: 148px 48px;
	z-index: 1;
}
/* b-logo > */

/* b-search < */
.b-search {
	height: 40px;
	margin: 0 225px 0 180px;
}

.b-search.cr-notif_active {
	margin: 0 465px 0 180px;
}

.search__form {
	padding: 0;
}

.search__form .g-form__inputwrap{
	padding: 0 30px 0 13px;
	height: 38px;
	margin: 0;
	border-color: #AC89A5;
}

.search__input {
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	padding: 8px 0;
	font-size: 16px;
	display: block;
}

.search__submit {
	position: absolute;
	top: 11px;
	right: 10px;
	width: 18px;
	height: 19px;
	background: url("/img/up/search.png") no-repeat 0 0;
	border-width: 0;
	color: #FFFFFF;
	cursor: pointer;
}

.cr-state-focus .search__submit{
	background-position: 100% 0px;
}

.search_loader {
	background: url("/img/loader.gif") no-repeat 0 0;
	display: none;
	height: 22px;
	position: absolute;
	right: 39px;
	top: 9px;
	width: 22px;
	z-index: 2;
	background-size: 100%;
}

.cr-state-signed-in {
	left: auto;
}

#b-empty-basket-container {
	padding-top: 30px;
}

/*блок с телефонами*/
.phones__item {
	display: inline-block;
	height: 17px;
	margin-bottom: 9px;
	font-size: 17px;
	color: #000;
	line-height: 17px;
}
.cr-phones-phone_home{padding-left: 21px; background: url(/img/up/i-contacts2.png) no-repeat 0 0}
.cr-phones-phone_velcom{padding-left: 21px; background: url(/img/up/i-contacts2.png) no-repeat 0 -18px}
.cr-phones-phone_mts{padding-left: 21px; background: url(/img/up/i-contacts2.png) no-repeat 0 -36px}
.cr-phones-phone_life{padding-left: 21px; background: url(/img/up/i-contacts2.png) no-repeat -2px -54px}

.phones__item span /*code*/{
	font-size: 12px;
	line-height: 18px;
	vertical-align: top;
	color: #9E9E9E;
}

.b-contacts{
	float: right;
	height: 39px;
	width: 235px;
	border-left: 1px solid #e2e2e2;
	margin-bottom: -1px;
}
.contacts__switcher{
	cursor: pointer;
	height: 39px;
	padding: 0 16px;
}
.contacts__switcher:hover,
.b-contacts.active .contacts__switcher{
	background: #e8e8e8;
}
.contacts-worktime{
	font-size: 9px;
	line-height: 10px;
	margin: 10px 6px 0 0;
	width: 40px;
	float: left;
}
.locale-by .contacts-worktime {
	margin-right: 10px;
}

.contacts-phone{
	height: 39px;
	display: block;
	cursor: pointer;
	line-height: 39px;
	font-size: 24px;
	position: relative;
}
.locale-ru .contacts-phone{
	font-size: 18px;
}
.contacts-phone:before{
	content: ' ';
	position: absolute;
	right: 0;
	top: 17px;
	border: 4px solid transparent;
	border-top: 4px solid #000;
}
.contacts__switcher.active .contacts-phone:before{
	right: -12px;
	top: 10px;
	border: 4px solid transparent;
	border-right: 4px solid #000;
}
.locale-by .contacts-phone:after {
	margin-left: 7px;
	width: 17px;
	height: 17px;
	content: '';
	display: inline-block;
	background: url(/img/up/i-contacts2.png) no-repeat 0 -18px;
}

/********************************/



.cr-contacts-relaxing .contacts-phone,
.cr-contacts-working .contacts-phone {
	color: #000;
}
.cr-contacts-relaxing .contacts-worktime,
.cr-contacts-working .contacts-worktime {
	color: #999;
}
/********************************/


.b-contacts .contacts__inner{
	position: absolute;
	display: none;
	z-index: 15;
	background: #fff;
	left: 0px;
	top: 45px;
	min-width: 205px;
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.22);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.22);
	box-shadow: 0 0 7px rgba(0,0,0,.22);
	width: 236px;
}
.b-contacts .contacts__inner{
	padding: 7px 0 7px 0;
}
.b-contacts .contacts__inner.cr-notification{
	padding: 0;
	z-index: 14;
	box-shadow: none;
	display: block;
}
.b-contacts .contacts__inner:before{
	content: ' ';
	position: absolute;
	left: 116px;
	top: -8px;
	border: 4px solid transparent;
	border-bottom: 4px solid #fff;
}
.b-contacts .contacts__inner.cr-notification:before{
	top: -10px;
	border: 4px solid transparent;
	border-bottom: 4px solid #e8e8e8;
}
.b-contacts.active .contacts__inner{
	display: block;
}
.contacts__item{
	padding: 16px 0;
	margin: 0 18px;
}
.contacts__item:first-child{
	padding-top: 8px;
}
.contacts__item:last-child{
	padding-bottom: 8px;
}
.contacts__item .consult__item{
	line-height: 18px;
}
.contacts__item.cr-item_separator{
	border-bottom: 1px solid #cecece;
}
.contacts__item.b-social_icons{
	padding-top: 0;
	text-align: center;
}
.contacts__header{
	margin-bottom: 8px;
	font-size: 13px;
}
.cr-contacts-phones .contacts__header{
	margin-bottom: 12px;
}
.contacts__work.cr-contacts__time{
	margin-bottom: 2px;
	line-height: 1;
	font-size: 18px;
}

.cr-nav-sub__new:after{
	content: 'новое';
	display: inline-block;
	font-size: 10px;
	color: #EA1653;
	padding: 0 4px;
	position: absolute;
	line-height: inherit;
}

/******************************************************************************/
/*SIDEBAR*/
/******************************************************************************/
.b-sidebar{
	margin-bottom: 24px;
}
	.cr-sidebar__main{
		border: 1px solid #e2e2e2;
		background: #fafafa;
		color: #4d4d4d;
	}
.b-callorder{display: block; margin-top: 10px; font-size: 11px;}
.sidebar__item{
	margin: 0 18px; padding: 16px 0;
}
.b-social_icons{
	clear: both;
	overflow: hidden;
	padding-top: 0;
}
.cr-sidebar__advert{
	margin: -2px 0 0; padding: 16px; background: 0 0 #e8e8e8;
}
.contacts__inner.cr-notification .cr-sidebar__advert{
	padding: 10px 16px;
	background: 0 0 #e8e8e8;
}
.sidebar__item.g-attention{
	background-color: #FDF1CB;
}
.cr-sidebar__special{
	padding-top: 0;
}
.b-feedback{
	line-height: 34px;
	font-weight: bold; text-align: center;
	background: #fff;
	border: 1px solid #e4e4e4;
	width: 170px;
	margin: 16px 16px 0;
}
.b-feedback .feedback__btn{
	display: block;
}

.sidebar__header{
	margin-bottom: 6px;
	font-size: 12px;
}
	.b-social_icons .sidebar__header{
		float: left;
		line-height: 22px;
		margin-right: 9px;
	}
.cr-sidebar__contacts{}
.cr-sidebar__contacts .sidebar__header{
	margin-bottom: 19px; line-height: 1;
	font-size: 13px; font-weight: bold; color: #000;
}
.b-social_icon{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 1px;
	background: url(/img/up/i-social.png) no-repeat;
}
.sidebar__item .b-social_icon:last-of-type{
	margin-right: 0;
}
	.cr-social-vk{ background-position: 0 0; }
	.cr-social-f{ background-position: 0 -25px; }
	.cr-social-ok{ background-position: 0 -50px; }
	.cr-social-inst{ background-position: 0 -74px; }
	.cr-social-gp{ background-position: 0 -97px;}
	.cr-disconnected{
		filter: grayscale(100%) opacity(25%);
		-webkit-filter: grayscale(1) opacity(25%);
	}
/*время работы*/
.sidebar__work{display: block; padding-left: 30px;}
.cr-sidebar__time{
	margin-bottom: 2px; line-height: 1;
	font-size: 24px; letter-spacing: -1px;
}
.cr-sidebar__days{
	margin-left: 2px;
	font-size: 11px; text-transform: uppercase; letter-spacing: 3px;
}

/*онлайн косультации*/
.b-consult{}
.consult__item{
	margin-bottom: 6px; padding-left: 27px; line-height: 18px;
	background: url(/img/up/i-contacts2.png) no-repeat;
	font-size: 1em;
}
.cr-consult__mail{background-position: 1px -110px;}
.cr-consult__viber{background-position: 1px -73px;}
.cr-consult__telegram{background-position: 1px -92px;}
.cr-consult__skype_offline{
	background-image: url(/img/up/i-contacts.png?2);
	background-position: 1px -72px;
}
.cr-consult__skype_online{
	background-image: url(/img/up/i-contacts.png?2);
	background-position: 1px -110px;
}
.consult__img{float: left; border: 0 none; margin-left: -27px;}

.b-tizer:hover{opacity: 0.9}

/*кнопка-подписка*/
.b-subscribe{
	width: 100%;
	text-align: center;
}
/*Viewwed items*/
.b-viewed{
	padding: 16px 18px;
	border: 1px solid #e2e2e2; border-radius: 3px;
}

/*News*/
.b-news{
	font-size: 11px;
}
.news__header{
	display: block;
	color: #000;
	font-size: 14px; font-weight: bold;
	line-height: 1;
}
.news__title{display: block; margin: 4px 0;}
.news__info{
	display: block;
	color: #999; font-size: 10px;
}
.news__annotation{}
.b-sidebar .news__info{margin-top: 14px;}

/*best_review Widjet*/
.b-best_review{
	font-size: 11px;
	border: 1px solid #990099;
	padding: 18px;
	overflow: hidden;
	color: #4d4d4d;
}
.best_review__header{
	display: block;
	margin-bottom: 12px;
	color: #000;
	font-size: 14px; font-weight: bold;
	line-height: 1;
}
.best_review__title{display: block; margin: 4px 0;}
.best_review__info{
	display: block;
	margin-bottom: 6px;
	font-size: 10px;
}
.best_review__author{
	display: block;
	font-weight: bold;
}

.best_review__item .b-foreign_goods {
	margin-bottom: 12px;
}

.best_review__more_link {
	display: block;
	float: right;
	margin-top: 6px;
}

/******************************************************************************/
/*GLOBAL BLOCKS*/
/******************************************************************************/
/*ТАБЫ*/
.b-tabs{}
.tabs__item{
	overflow: hidden;
} .j-disabled .tabs__item{overflow: visible;}
.tabs__header{
	float: left;
}
.tabs__switcher{height: 40px;}
.tabs__switcher sup{line-height: 1; color: #888; 	font-weight: normal;}
.cr-tabs__active .tabs__header,
.cr-tabs__active .tabs__switcher{
	z-index: 1;
}
.cr-tabs__active .tabs__switcher{
}
.cr-tabs__active .tabs__header .g-pseudo_href{
	border: 0;
	color: #000 !important;
	cursor: default;
}
.tabs__count{padding-left: 3px; color: #4d4d4d;}
.tabs__content{
	float: left;
	width: 100%; padding: 24px 0;
} .j-disabled .tabs__content{display: none;}

.cr-tabs__active>.tabs__content{
	float: right; top: -2px; display: block;
	width: 100%; margin-bottom: 40px;

}
.j-disabled .cr-tabs__active .tabs__content{ top: 40px;  margin-left: -100%;}


.b-foreign_goods{}
.foreign_goods__item{overflow: hidden;}
.foreign_goods__term{
	clear: both; display: block;
	padding-left: 92px;
	font-size: 12px;
	text-decoration: none;
}
	.cr-foreign_goods__vertical{
		padding: 12px 0;
	}
.foreign_goods__def{
	display: block;
	padding-left: 72px;
	font-size: 14px;
	white-space: nowrap;
}
.foreign_goods__def, .foreign_goods__img{margin-bottom: 18px;}
.foreign_goods__wrapimg{
	position: relative;
	float: left;
	width: 80px; margin-right: 12px; margin-left: -92px;
	text-align: center;
}
.foreign_goods__wrapimg .g-label{ top: 0; right: -9px;}
.foreign_goods__img{
	max-width: 80px;
	max-height: 80px;
}
.foreign_goods__term .foreign_goods__name{
	display: block;
	position: relative;
	margin-bottom: 9px;
}

.foreign_goods__term .foreign_goods__name-main,
.foreign_goods__term .foreign_goods__name-secondary{
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
.foreign_goods__term .foreign_goods__name-secondary:after{
	content: '';
	width: 20px;
	height: 45px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
}

.foreign_goods__term .foreign_goods__link{
	/*display: block;*/ /*код будет на новой строке*/
	padding-right: 6px;
	text-decoration: underline;
	display: block;
}
/*фикс отображения цены в слайдере популярных товаров*/
.b-similar .foreign_goods__term .foreign_goods__link{
		max-height: 50px;
}
.foreign_goods__rating{
	margin-bottom: 5px;
	height: 10px;
	display: block;
}

/*Sales (in popup)*/
.b-sales{overflow: hidden;}
.sales__item{overflow: hidden;}
.sales__price{
	float: left;
	line-height: 29px; margin-top: 12px;
	font-size: 18px;
}
.sales__buybtn, .sales__buybtn:hover,
.sales__item .g-basketbtn
{
	float: right;
	margin-top: 12px;
}
.sales__priceunit{font-size: 75%;}
/******************************************************************************/
/*CONTENT*/
/******************************************************************************/
/*Breadcrumbs*/
.b-breadcrumbs{clear: both;display: inline-block;}
.breadcrumbs__item{
	display: inline-block;
	padding: 0 .5em 0 .75em;
	background: url(/img/breadcrumbs_separator.gif) no-repeat 0 100%;
	line-height: 1;
}
.cr-breadcrumbs__first{padding-left: 0; background: none;}
.breadcrumbs__link{font-size: 11px; color: #717171;}
.breadcrumbs__end{display: inline; font-size: 11px; font-weight: bold;}

/*Content*/
.b-content {
 	float: left;
	/*padding-right: 12px;*/
	margin-left: -252px; width: 100%;
	/*overflow: hidden;*/
}
.content__header{
	clear: both;
	padding: 18px 0 4px;
	font-size: 30px;
	font-family: 'FuturaDemi', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.content__header2{
	line-height: 1.5em;
	font-size: 18px;
}
.content__subheader{line-height: 36px; font-size: 14px; font-weight: bold;}



/******************************************************************************/
/*ELEMENTS*/
/******************************************************************************/
/*Print*/
.b-print{
		position: absolute; top: 0; right: 0; z-index: 1;
		padding-left: 20px;
		line-height: 18px;
		background: url(/img/up/i-item.png) no-repeat 0 -360px;
		font-size: 11px;
}
/*Compare*/
.compare__link{font-size: 1em; }
.cr-compare__result{
	display: inline-block;
	margin-left: 14px;
	line-height: 15px;
}
.compare__count, .g-counter{
	position: relative;
	display: inline-block;
	line-height: 15px;
	padding: 0 6px;
	margin-left: 7px;
	background: #0072BC;
	font-size: 10px; color: #fff;
	text-decoration: none;
}
.g-counter:after{
	position: absolute;
	top: 50%;
	left: -7px;
	margin-top: -3px;
	border: 3px solid transparent;
	border-right: 5px solid #0072BC;
	content: '';
}

/******************************************************************************/
/*UNIQ CONTENT*/
/******************************************************************************/

/*display :block; padding-right: 82px; }
.delivery__link{margin-top: -10px;}
.test2{background: url(/img/delivery.png) no-repeat 100% 0; width: 82px; height: 33px; display: inline-block;}
*/
/*Jquery UI*/
.ui-widget-overlay{background: #252525; opacity: .5; position: absolute; top: 0;}
.ui-dialog{position: fixed; top: 0;}
.b-popup, .b-message_popup{
	background: #EDEDED;
	border: 1px solid #fff;
}

.b-message_popup .ui-dialog-titlebar{
	height: 18px; padding: 0;
}
.b-popup .ui-dialog-titlebar{
	padding: 18px;
	cursor: move;
	min-height: 20px;
}
.b-popup .ui-dialog-title{font-size: 1.5em;}
.b-popup .ui-dialog-content, .b-review_form .g-form{
	padding: 0 18px 24px;
}
.b-popup .ui-dialog-titlebar-close,
.b-message_popup .ui-dialog-titlebar-close{
	position: absolute; top: 6px; right: 6px;
	height: 12px; line-height: 12px;
	padding-right: 18px;
	background: url(/img/g-form__close.png) 100% 0 no-repeat;
	text-decoration: none;
}
.b-popup .ui-icon-closethick,
.b-message_popup .ui-icon-closethick{
	float: right;
	border-bottom: 1px dotted #828282;
	font-size: .833em; line-height: 1; color: #828282;
}

.b-popup .ui-dialog-titlebar-close:hover, .b-message_popup .ui-dialog-titlebar-close:hover{background-position: 100% -12px;}
.b-popup .ui-dialog-titlebar-close:hover .ui-icon-closethick, .b-message_popup .ui-dialog-titlebar-close:hover .ui-icon-closethick{color: #812990; border-color: #812990;}
.b-popup a{
	z-index: 2000;
}
.b-message_popup .ui-dialog-content{
	padding: 18px 18px 24px;
	font-size: 16px;
}
.b-message_popup .ui-dialog-buttonset{
	text-align: center;
	margin-bottom: 18px;
}

.b-modal_window{
	overflow: hidden;
	background: #fff;
	max-width: 1140px;
}
.b-modal_window .ui-dialog-content{
	margin: 0 auto;
	padding: 0 36px 36px;
}
.b-modal_window .ui-dialog-titlebar {
	padding: 0 6px;
	text-align: right;
}
.ui-dialog-titlebar{
	z-index: 1;
}
.b-modal_window .ui-icon-closethick{
	position: absolute; top: 9px; right: 9px;
	height: 12px; line-height: 10px;
	padding-right: 18px;
	background: url(/img/g-form__close.png) 100% 0 no-repeat;
	text-decoration: none;
}

/*Autocomplete*/

.ui-autocomplete{
	z-index: 1000 !important; left: 0 !important; top: 0px !important; /*12+20+6+2*/ /* search - top: -4px !important; */
	margin-top: 0px; overflow: hidden;
  	background: #fff;
	color: #252525;
	border: 1px solid #bebebe; border-top: none;
}

.ui-autocomplete .ui-menu-item{
  	position: relative;z-index: 1001;
  	cursor: pointer;
  	background: #EDEDED;
}
.ui-autocomplete .ui-menu-itemnull{
  	padding: 12px;
  	background: #EDEDED;
}
.cr-autocomplete-simple{
	max-height: 54px;
}
/*поиск*/
.ui-autocomplete .foreign_goods__item{
}
.ui-autocomplete .ui-corner-all{
	display: block; padding:12px; overflow: hidden;
}
.ui-autocomplete-simple {
	max-height: 300px;
	overflow-y: scroll;
}
#j-select_region .ui-autocomplete-simple.regionSelectorMenu {
	overflow-y: auto;
}
.ui-autocomplete-simple .ui-corner-all{
	padding: 6px 12px;
	color:#000; font-size: 12px;
	display: flex; flex-flow: row nowrap;
	height: 30px; box-sizing: border-box;
}
.ui-autocomplete-simple .ui-corner-all span{
	flex: 0 0 auto;
}
.ui-autocomplete-simple .ui-corner-all i{
	color: #999; font-size: 12px; font-style: normal;
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.ui-autocomplete .ui-state-hover{
	background: #D5D5D5;
}
.ui-autocomplete .foreign_goods__img{
	max-height: 52px; max-width: 52px;
}

.ui-autocomplete .foreign_goods__wrapimg{
	display: block;
	width: 52px; height: 52px;
	margin-left: -64px;/*52+12*/;
}
.ui-autocomplete .foreign_goods__term {padding-left: 76px;/*52+12+12*/}
.ui-autocomplete .foreign_goods__term .foreign_goods__link{}

.b-search .ui-autocomplete{
	padding: 0;
	width: 100% !important;
	text-shadow: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
	border-bottom: 1px solid #e2e2e2;
	border-radius: 0 0 5px 5px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.b-search .ui-autocomplete .ui-menu-item {
	background: #fff;
}

.b-search .ui-autocomplete .ui-menu-item a {
	color: #0072bc;
	border: 1px solid #fff;
	border-bottom-color: #e2e2e2;
}

.b-search .ui-autocomplete .ui-menu-item:last-child a {
	border-bottom: none;
}

.b-search .ui-autocomplete .ui-menu-item a.ui-state-hover {
	background: #fff;
	border-color: #902789;
	border-width: 1px;
}

/***************************************************************************************/
/**INTERNAL SIMPLE FILTER (for accesosories, for example)*******************************/
/***************************************************************************************/
.b-insimple_filter{
	margin: 0 0 18px;
}
.insimple_filter__item{
	display: inline-block;
}
.insimple_filter__link{
	display: block;
	padding: 0; margin: 3px 9px;
}
	.cr-insimple_filter__active{
		padding: 3px 9px; margin: 0;
		background: #0072BC;
		border:0;
		color: #fff;
	}
	.cr-insimple_filter__active:hover{color: #fff !important; }
	.cr-insimple_filter__null{color: #999; border-color: #999;}


/***************************************************************************************/
/**REVIEWS*****************************************************************************/
/***************************************************************************************/
.b-reviews{ }
.reviews__item{
	padding-bottom: 32px;
}
.reviews__date{
	display: block;
	color: #999999;
	font-size: 10px;
}
.reviews__term{ font-weight: bold;}
	.cr-reviews__name{color: #000;}
.reviews__body{
	display: block;
	margin-top: 6px;
}
	.cr-moderator_comment,
	.cr-faq_answer{
		color: #777;
		font-size: 12px;
		position: relative;
		padding-left: 32px;
		margin-top: 12px;
	}
	.cr-moderator_comment:before,
	.cr-faq_answer:before{
		content: "";
		position: absolute;
		top: 4px;
		left: 0;
		background: url(/img/up/i-review.gif) no-repeat;
		display: block;
		width: 16px;
		height: 16px;
	}

.reviews__thankyou{
	display: block;
	margin-bottom: 24px;
	font-style: italic;
}

.b-reviews .b-reviews-rate{float: right;}
.b-reviews-rate, .reviews-rate{
	display: block;
	width: 100px; height: 18px;
	background: url(/img/up/i-rate.png) repeat-x 0 0;
}
.b-foreign_goods .b-reviews-rate{
	background: none;
	width: 50px;
	height: 10px;
}
.b-foreign_goods .reviews-rate{
	background-position: 0 -10px;
	background-size: 10px;
	height: 10px;
}
.cr-form__label-stars{line-height: 20px;}
.reviews-rate{background-position: 0 -20px;}
.cr-reviews-rate-1{width: 20%;}
.cr-reviews-rate-2{width: 40%;}
.cr-reviews-rate-3{width: 60%;}
.cr-reviews-rate-4{width: 80%;}

.b-rev-stars {display: inline-block; vertical-align: top; cursor: pointer;}
.rev-star{float: left; display: inline-block; width: 20px; height: 18px;  background: url(/img/up/i-rate.png) no-repeat 0 -80px;}
.j-rev-star-unselect {background-position: 0 -80px;}
.j-rev-star-select{background-position: 0 -20px;}
.j-rev-star-hover {background-position: 0 -80px;}
.j-rev-star-prev{background-position: 0 -20px;}

/******************************************************************************/
/*Tooltips*/
/******************************************************************************/
.b-source_tooltip, .b-source_tooltip:hover{
	display: inline-block;
	width: 12px; height: 12px;
	margin-top: 1px;
	cursor: pointer; pointer-events: auto;
	background: url(/img/up/b-source_tooltip.png);
	vertical-align: text-top;
}
	.b-source_tooltip:hover{background-position: 0 -12px;}
	.cr-source_tooltip-active{}
#tooltip{
	position: absolute;
	max-width: 250px; padding: 12px 18px;
	color: #fff;
	z-index: 10;
	background: #0072BC;
	line-height: 1.5;
}
#tooltip>a{ color: #fff; }
#tooltip>p{ margin-bottom: 0.5em; }
.tooltip__arrow{
	position: absolute; top: 50%; left: 100%;
	margin-top: -7px;
 	border: 7px solid transparent;
	border-left: 7px solid #0072BC;
}
	.cr-source_tooltip-right .tooltip__arrow {
		left: -7px;
		border-left: 0;
		border-right: 7px solid #0072BC;
	}
	.cr-source_tooltip-top .tooltip__arrow {
		top: 0%;
		margin-top: -13px;
		margin-left: -26px;
		border: 7px solid transparent;
		border-bottom: 7px solid #0072BC;
	}
.tooltip__close{
	position: absolute; top: 0px; right: 0px;
	width: 20px; height: 20px;
	background: url(/img/up/g-tooltip__close.png) 50% 50% no-repeat;
	opacity: 0.5;
	cursor: pointer;
}
.tooltip__close:hover{
	opacity: 1;
}
/******************************************************************************/
/*TESTING*/
/******************************************************************************/
.cake-sql-log{display: none;}
.for_test{visibility: hidden;}
.is_test .for_test,
.is_debug .for_test{visibility: visible;}
/*Paginator*/
.b-tools{}
.cr-tools_paginator {text-align: center; padding: 24px 0 36px;}
.cr-compare_all_similar {
	position: relative;
	top: -26px;
	left: 225px;
}


/*Стили отложенных товаров*/

.putaside__link{
	display: inline-block;
	height: 18px; line-height: 18px;
	padding-left: 24px;
	text-decoration: none;
	background: url(/img/up/i-rate.png)no-repeat 0 0px;
}
.cr-putaside__result{
	margin: 0;
	background: url(/img/up/i-rate.png)no-repeat 0 -20px;
	text-decoration: underline;
}
.cr-putaside__del{
	font-size: 11px;
	background: none;
	padding-left:0px;
}
.ptsd .foreign_goods__buylink{
	margin-right: 24px;
}
.ptsd .putaside__link{
	padding-left:0px;
}
.j-putaside__in{
	background: url(/img/up/i-rate.png)no-repeat 0 -60px;
}

.j-putaside_counter{
	background: url(/img/up/i-rate.png)no-repeat 0 -20px;
	display: inline-block;
	line-height: 19px;
	padding: 0px;
	height: 18px;
	vertical-align: middle;
	text-align: center;
	margin-left: 4px;
	width: 19px;
	border: none;
	font-size: 9px;
	text-shadow: #347492 1px 0px 0px;
	color: #fff;
	text-decoration: none;
}
.cr-putaside{
   float: right;
}

.floater {
  float: left; }

.floater-right {
  float: right; }

.clearer {
  clear: both; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden; }
  .clearfix:after {
	clear: both; }

.g-nowrap{
	white-space: nowrap;
}

/* Choose locality < */
.choose-locality-popup .ui-dialog-titlebar{
	height: 19px;
	background: #fff;
}
.choose-locality-popup .ui-icon-closethick{
	position: absolute; top: 3px; right: 4px;
	height: 12px; line-height: 10px;
	padding-right: 18px;
	background: url(/img/g-form__close.png) 100% 0 no-repeat;
	text-decoration: none;
}

.b-choose-locality{
	background: #fff;
	padding: 15px 35px 35px 35px;
}
.b-choose-locality-form{
	height: 44px;
}
.b-choose-locality .search-locality-form{
	position: relative;
	height: 24px;
}
.b-choose-locality .search-locality-form .g-form__label{
	margin-bottom: 0;
}
.b-choose-locality .search-locality-form .ui-autocomplete{
	padding: 0;
	width: 100% !important;
	text-shadow: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	border-bottom: 1px solid #e2e2e2;
	border-radius: 0 0 5px 5px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.b-choose-locality .search-locality-form .ui-autocomplete .ui-menu-item  a{
	color: #000;
}

.b-choose-locality .panel-regions__items{

}
.b-choose-locality .panel-regions__items ul{

}
.b-choose-locality .panel-regions__items ul li{
	padding: 5px 12px;
	height: 19px;
	margin-bottom: 5px;
	line-height: 19px;
}
.b-choose-locality .panel-regions__items ul li.active{
	background: #0072BC url(/img/up/menu-item.png) no-repeat 100% 0
}
.b-choose-locality .panel-regions__items ul li.active a{
	border-bottom-width: 0;
	cursor: default;
	color: #fff !important;
}

.b-choose-locality__panels{
	padding-top: 15px;
	overflow: hidden;
}
.b-choose-locality__panels .panel-scrolable{
	overflow-y: auto;
	height: 400px;
}
.b-choose-locality__panels .panel-title{
	font-size: 15px;
	margin-bottom: 15px;
}
.b-choose-locality__panels .panel-regions{
	width: 240px;
	margin: 0 -100% 0 0;
	position: relative;
	z-index: 2;
}
.b-choose-locality__panels .panel-cities{
	width: 100%;
	position: relative;
	z-index: 1;
}
.b-choose-locality__panels .panel-cities__inner{
	margin: 0 0 0 270px;
}
.b-choose-locality__panels .panel-cities.loading .panel-scrolable{
	background: url('/img/loader.gif') no-repeat center center;
}
#catalog_selection .g-preloader{
	margin-left: -253px;
}
.b-widget_selection .g-preloader{
	top: 48px;
}
.b-choose-locality__panels .panel-cities.loading .panel-scrolable .panel-cities__items{
	display: none;
}

.panel-cities__regional-centers{
	margin-bottom: 15px;
}
.panel-cities__regional-centers ul{

}
.panel-cities__row{
	width: 25%;
}

.panel-cities__group{

}
.panel-cities__group__inner{
	position: relative;
	padding: 5px 15px 0 20px;
}
.panel-cities__group__alpha{
	position: absolute;
	color: #9C9C9C;
	font-weight: bold;
	left: 0;
	top: 5px;
	line-height: 18px;
	position: absolute;
}
.panel-cities__group__items{

}
.panel-cities__group__items li{
	line-height: 18px;
	margin: 0 0 15px 0;
}
.cr-panel-cities__big{
	font-size: 14px;
	font-weight: bold;
}
/* Choose locality > */


.b-category-set{

}
	.category-set__heading{
		font-size: 2em;
		margin: 0.5em 0 1.1em 0;
	}
	.category-set__heading a:link, .category-set__heading a:visited{
		color: #000;
	}

/* season tizer */
.b-season_banner{
	margin-bottom: 24px;
	overflow: hidden;
}


/***************************************************************/
/*Бренды */
/***************************************************************/

.b-brands{
	overflow: hidden;
}
.brands-item {
	border: 1px solid transparent;
	display: block;
	float: left;
	padding: 3px;
	margin-bottom: 12px;
	margin-right: 18px;
}
.cr-brands__usual .brands-item {
	margin-right: 14px;
}
.brands-item:hover{
	border-color: orange;
}
.cr-brands__usual .brands-item_image {
	height: 35px;
}
/* special menu for brands */
.cr-brand_menu{
	padding-left: 12px;
}
.b-brand_menu {
	width: 210px;
}
.brand_menu__alpha{
	margin-top: 12px;
	font-size: 20px;
}
.brand_menu__item{
	float: left;
	margin-right: 12px;
	list-style: disc inside;
	color: #0072BC;
	line-height: 28px;
	white-space: nowrap;
}
.brand_menu__link {
	margin-left: -3px;
}
.cr-brand-top{color: #EA1653;}
.cr-brand-active{
	display: inline;
	border: 1px solid #0072BC;
	padding: 2px 6px;
	color: #4d4d4d;
}

#authMessage{
	margin: 0 0 18px 0;
	background: #ff9ca5;
	padding: 7px 15px;
}

.l-content .b-user-form{
	width: 50%;
}
.l-content .b-user-form .g-form__controls,
.l-content .b-user-form .g-form__tools{
	padding-top: 0;
	border: none;
	text-align: left;
}

.b-user-auth .b-remind-password{
	margin: -10px 0 10px 0;
}
.b-user-auth .b-remind-password a{
	position: relative;
}
.b-user-auth .b-remind-password__loader{
	display: none;
	background: url("/img/loader.gif") no-repeat 0 0;
	height: 17px;
	width: 17px;
	margin-left: 5px;
	background-size: 100%;
	position: absolute;
	top: 0;
	right: -22px;
}
.b-user-auth .b-remind-password__loader.cr-state-loading{
	display: inline-block;
}

.g-form__label .b-user-email-check{
	margin: 10px 0 0 0;
}


.b-compare-list{

}
.b-compare-list__item{
	color: #0072BC;
}
.b-compare-list__item__link{
	line-height: 29px;
}
.b-compare-list__item__counter{
	font-size: 11px;
	color: #999;
}
#credit_loader{
	background: url("/img/loader.gif") no-repeat 0 0;
	display: inline-block;
	height: 22px;
	width: 22px;
	position: relative;
	left:50%;
	top:50%;
	z-index: 2;
	background-size: 100%;
}


/*Seo-block*/
.b-category_text {
	color: #484848;
	line-height: 1.5;
	margin: 24px 0 0;
}
.item-price .item__em {
	margin-bottom: 25px;
}

#j-search_result .result__tools .g-price {
	display: inline-block;
	padding-bottom: 10px;
}
#j-search_result .result__tools .g-price.cr-price__noborder, .g-price.cr-price__noborder .acs_discount__price, .g-price.cr-price__noborder .acs__price{
	border: none;
}
#j-search_result .result__tools .g-price.result__oldprice{
	border: none;
	display: block;
}

.result__desc span.g-status {
	margin-top: 5px;
}
.b-phone-widget{
	position: relative;
}
.phone-widget__code{
	float: left;
	font-size: 12px;
	position: relative;
}
.phone-widget__holder{
	cursor: pointer;
	z-index: 2;
	display: block;
	float: left;
	height: 28px;
	padding: 0 6px;
	line-height: 28px;
	width: 30px;
}
.phone-widget__holder:before{
	content: ' ';
	position: absolute;
	right: 8px;
	top: 12px;
	border: 4px solid transparent;
	border-top: 4px solid #000;
}
.phone-widget__code.cr-state-active .phone-widget__holder:before{
	content: ' ';
	position: absolute;
	right: 10px;
	top: 10px;
	border: 4px solid transparent;
	border-right: 4px solid #000;
}
.phone-widget__holder-text{
	display: none;
}
.phone-widget__codes{
	display: none;
	position: absolute;
	bottom: 36px;
	left: 2px;
	background: #fff;
	-moz-box-shadow: 0 0 7px rgba(0,0,0,.22);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,.22);
	box-shadow: 0 0 7px rgba(0,0,0,.22);
}
.phone-widget__code.cr-state-active .phone-widget__codes{
	display: block;
}
.phone-widget__code-item{
	color: #0072bc;
	cursor: pointer;
	line-height: 28px;
	min-width: 120px;
	padding: 0 6px;
}
.phone-widget__code-text{
	text-decoration: underline;
}
.phone-widget__code-item:hover{
}
.phone-widget__code-item:hover .phone-widget__code-text{
	text-decoration: none;
	color: #bc1242;
}
.phone-widget__phone{
	z-index: 1;
	margin-left: 40px !important;
	margin-top: 0 !important;
}
.b-phone-widget .g-form__message{
	margin-left: 40px;
}
#j-profile-add-phone-form .g-perconal_info {
	margin-left: 350px;
}
.b-profile-contacts__edit__form .g-perconal_info {
	margin-left: 480px;
}
.g-ico-flag{
	display: inline-block;
	width: 16px;
	height: 11px;
	margin: 2px 5px 0 0;
}
.g-ico-flag.flag-ru{
	background: url('/img/up/i-flag.png') no-repeat 0 -11px;
}
.g-ico-flag.flag-by{
	background: url('/img/up/i-flag.png') no-repeat 0 0;
}

.g-flash-message{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	margin: 20px 0;
	border: 1px solid transparent;
}

.card_form__key, .card_form__birthday{
	display: none;
}

.b-bosch_builder {
	margin: 15px 0;
	padding-bottom: 15px;
}

#j-profile-add-address-form .g-perconal_info,
#j-profile-addresses .g-perconal_info {
	margin-left: 570px;
}
.g-form__tools .g-perconal_info {
	margin: 10px 10px 0 0;
}
.b-order-tools .g-perconal_info {
	float: right;
	margin: 5px 10px 0 0;
	text-align: center;
}
.j-order-a-ref{
	color: #a0a1a3 !important;
}
.feedback-popup-pd{
	text-align: left;
	padding-bottom: 6px;
}

.feedback-pd{
	text-align: center;
}

.feedback-popup-pd-ref{
	color: #252525;
}
.feedback-popup-pd-ref:hover {
	color: #0072bc; /* Цвет ссылки при наведении на нее курсора мыши */
}

.agreement-checkbox {
	display: block;
	margin: -6px 0 14px 0;
	user-select: none;
	padding-left: 25px;
	text-align: left;
	cursor: pointer;
}

.agreement-checkbox-text {
	color: #000000;
}

.agreement-checkbox > .g-form__message {
	display: none;
}

.agreement-checkbox.cr-state-error > .g-form__message {
	display: flex;
	margin: 4px 0 0 -25px;
	cursor: default;
}

.agreement-checkbox-ref{
	color: #000000;
}
.agreement-checkbox-ref:hover {
	color: #0072bc;
}

.agreement-container {
	display: flex;
	justify-content: center;
	margin: 2px 0 20px 0;
}

.agreement-container > label {
	margin: 0;
}

.j-order-pd{
	text-align: right;
	margin-top: 12px;
	color: #a0a1a3;
	font-size: 12px;
}
.login_pd{
	margin-top: 6px;
}
.subscribe_pd {
	margin: 0 0 12px;
	text-align: left;
}
.cr-pi-subscribe {
	font-size: 8px !important;
	line-height: 12px;
	font-weight: normal;
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.cr-pi-subscribe a {
	color: #fff !important;
}
.cr-pi-subscribe a:hover {
	color: #9f9f9f !important;
	border-bottom: 1px solid #9f9f9f;
}

.b-page .cr-reviews-count {
	color: #999;
}
.b-page_rating .b-reviews-rate{
	float: left;
    margin-right: 6px;
}
.b-page .b-page_rating > p {
	margin: 15px 0 5px 0;
}
.b-company_info {
	margin-top: -50px;
	margin-left: 310px;
	position: absolute;
	width: 240px;
	background: #FDF1CB;
	padding: 6px 20px 12px 12px;
	display: none;
}
.b-company_info.error {
	background: #bc124214;
}
.b-company_info > span {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}
.b-profile-legal .b-company_info {
	position: relative;
	margin: 15px 0;
}


/* bunch map */
.b-modattr{
	margin-top: 10px;
}
.modattr__header{
	display: block;
	margin-bottom: 3px;
}
.modattr__val{
	display: inline-block;
	text-align: center;
	padding: 0 3px;
	margin: 0 5px 5px 0;
}
.cr-modattr__selected{
	background-color: #fef6de;
}
.cr-modattr__disabled {
	color: gray;
	border-bottom-color: gray;
}
.g-paginator_offer_spot {
	width: 100%;
	float: left;
}

#react-popup, #react-edit-popup {
	display: none;
	flex-direction: column;
	align-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 980;
	padding-top: 96px;
	background: rgba(13,13,13,.5);
}

#react-profile-menu {
	padding-top: 24px;
	z-index: 1;
	left: -9px;
}

/* Retina and HD screens */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
	.g-status,
	.b-print {
		background-image: url(/img/up/i-item@2x.png);
		background-size: 20px;
	}

	.g-form__checklabel{
		background-image:url(/img/up/g-checkbox@2x.png);
		background-size: 68px;
	}

	.g-form__radio{
		background-image:url(/img/up/g-radiobox@2x.png);
		background-size: 68px;
	}

	.locale-by .contacts-phone:after,
	.cr-phones-phone_home,
	.cr-phones-phone_velcom,
	.cr-phones-phone_mts,
	.cr-phones-phone_life,
	.cr-consult__mail,
	.cr-consult__viber,
	.cr-consult__telegram {
		background-image: url(/img/up/i-contacts2@2x.png);
		background-size: 17px 126px;
	}
}

/* LiveTex chat custom styles (desktop) */
.nt-label-wrapp-js.nt-label-lt-integration-wrap {
	transition: right .4s ease-in-out, -webkit-transform .4s ease-in-out;
	transition: right .4s ease-in-out, transform .4s ease-in-out;
	transition: right .4s ease-in-out, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
	top: 35%;
	right: 0;
	bottom: auto;
	left: auto;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	border-radius: 25px 25px 0 0;
 }

 .nt-label-lt-integration-icon {
	position: relative !important;
	z-index: 10;
	max-width: 310px;
	font-weight: 500;
	transition: max-width .35s ease-in-out, opacity .3s ease-in-out 0s;
	float: right;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.g-form-select-group {
	display: flex;
}

.g-form__custom-select {
	position: relative;
	display: flex;
	width: 144px;
	height: 24px;
	padding: 3px 15px 3px 9px;
	border: 1px solid #BEBEBE;
	box-shadow: 0px 1px 2px #eee inset;
	box-sizing: border-box;
	font-size: 13.3333px;
	user-select: none;
	margin-right: 6px;
}

.g-form__custom-select.cr-state-error {
	border-color: #EA1653;
	margin-bottom: 7px;
}

.g-form__custom-select .g-form__message {
	position: absolute;
	left: 0;
	bottom: -18px;
}

.delivery-intervals-container {
	display: flex;
}

.g-form__custom-select.disabled {
	background: #f6f6f6;
	pointer-events: none;
}

.g-form__custom-select.disabled .arrow-down {
	opacity: 0.4;
}

.j-address-custom-select-focused {
	border-color: red;
}

.arrow-down {
	position: absolute;
	width: 24px;
	height: 24px;
	right: -4px;
	top: 0;
	background: url(../../../img/caret-default.png) no-repeat 0 0px;
}

.g-form__custom-select .g-form__custom-value {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: default;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
}

.g-form__custom-select .custom-options {
	position: absolute;
	display: flex;
	top: 24px;
	left: 0;
	min-width: 165px;
	background: white;
	border: 1px solid #BEBEBE;
	box-sizing: border-box;
	flex-direction: column;
	z-index: 2;
}

.g-form__custom-select .custom-options .custom-option {
	padding: 1px 6px;
	cursor: pointer;
	white-space: nowrap;
}

.g-form__custom-select .custom-options .custom-option:hover {
	background: DodgerBlue;
	color: white;
}

.g-form__select.g-form__select-delivery-date {
	flex: 1;
	width: auto;
}
.g-form__select.g-form__select-delivery-date select {
	width: 100%;
}
.g-form__select-delivery-date select[disabled] {
	background: #f6f6f6;
}

.j-delivery-intervals span.legal_entity_form_messages {
	margin-top: 3px;
}

.goods_not_found {
	margin-right: 255px;
	text-align: center;
}
