/******************************************************************************/
/*CATALOG CONTENT*/
/******************************************************************************/
/*ФИЛЬТР*/
/******************************************************************************/
.l-filter{
	clear: both; margin-top: 31px;
}
.b-filter{
	padding: 18px 0;
	border: 1px solid #E8E8E8;
}

/*Дополнительная группа параметров(скрытая)*/
.cr-filter__additional{display: none; }
#j-producers__additional{border-top: 1px dotted #D4D4D4; clear: both; padding-top: 12px;}

/*11 - Группа характеристик (подгруппа)*/
.filter__attrs{
	vertical-align: top;
}
.cr-filter__price{
	padding-bottom: 12px;
}
/*111 - Характеристика (единица)*/
.b-filter-attr{
	clear: both; overflow: hidden;
	margin-bottom: 12px;
	padding: 0 18px;
}
.b-filter-attr .filter-attr__value .disable{
	color: #bdbdbd !important;
}
.cr-filter__producers .b-filter-attr{margin: 0;}
	/*Значения х-ки в виде раскрывающегося списка*/
	.cr-filter__toggle{}
	/*Для псведо-ссылки меняем зн-е по умолчанию*/
	.cr-filter__toggle .filter-attr__name .g-pseudo_href{border-color: #252525; color: #252525;}
	/*Список свернут (направление стрелки)*/
	.cr-filter__fold{background: url(/img/filter__bullet_fold.png) 9px 5px no-repeat;}
	/*Список развернут (направление стрелки)*/
	.cr-filter__unfold{background: url(/img/filter__bullet_unflod.png) 9px 6px no-repeat; }
	.cr-filter_viewadd>div{overflow-y: scroll; max-height: 300px; margin-right: -18px;}
	.cr-filter_viewadd .cr-filter__additional{display: block;}


/*1111 - Наименование характеристики*/
.filter-attr__name{margin-bottom: 9px;}
	/*Наименование характеристик цены и производителя*/
	.cr-filter__price .filter-attr__name,
	.cr-filter__cars_filter .filter-attr__name,
	.cr-filter__producers .filter-attr__name{font-weight: bold;}
/*тултипчик*/
.b-filter .b-source_tooltip{
	position: absolute;
	margin-top: 3px;
	margin-left: 6px;
	vertical-align: middle;
}
.cr-filter-bitvalue .b-source_tooltip{
	/*margin-top: 3px;*/
}
/*место для кнопки вызова тултипа*/
.cr-filter-bitvalue .cr-help-place {}

/*1112 - Значение хар-ки (одно)*/
.filter-attr__value{ margin-bottom: 6px;}
	/*Список свернут (прячем зн-я)*/
	.cr-filter__fold .filter-attr__value{display: none;}
	/*Список развернут (показываем зн-я)*/
	.cr-filter__unfold .filter-attr__value{display: block-inline;}

	/*Для некоторых характеристик зн-я в две колонки*/
	.cr-filter__2col .filter-attr__value{float: left; z-index:1; width: 49%; padding-right: 1%;}
	.cr-filter__2col .filter-attr__value label::after{
		content: " ";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 17px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
	}
	.cr-filter__2col .filter-attr__value .g-form__checklabel{
		white-space: nowrap;
		overflow: hidden;
	}
	/*Для ограниченного кол-ва маленьких значений (напр., 1-)*/
	.cr-filter__small .filter-attr__value{float: left; padding-right: 12px;}
	.cr-filter__price .filter-attr__value{white-space: nowrap;}
	.cr-filter-bitvalue .g-form__checklabel{ float: left}
/*2 - Разделитель*/
.filter__separator{
	margin: 0 18px /*18px если по дизайнеру*/;
	border-top: 1px solid #d4d4d4;
}
.filter-toggle_values{
	clear: both;
	display: inline-block;
	margin-top: -6px;
	margin-bottom: 6px;
	margin-right: 2%;
}
	.cr-filter__fold .filter-toggle_values{display: none;}
	.cr-filter__unfold .filter-toggle_values{display: block-inline;}
/******************************************************************************/
/*Элементы формы в фильтре*/

/*Изменяем глобальные значения*/
.b-filter .g-form__inputwrap{display: inline-block;}
.b-filter .g-form__text{display: inline-block; width: 40px;}
.b-filter .cr-filter__price .g-form__text{width: 65px; font-weight: bold;}

/*Label при поле ввода*/
.filter__textlabel{display: inline;}

/*2 - Кнопки фильтра*/
.filter__action{
	line-height: 29px;
}
.b-filter-controls{
	text-align: center;
	height: 99px;
	position: sticky;
	bottom: 0;
	z-index: 2;
}
.filter-controls__btns{
	width: 238px;
	height: 80px;
	margin-top: 0;
	background: #fff;
}
.j-filter-sticky_btn{
	z-index: 1;
	box-shadow: 0 -3px 11px -3px rgba(0,0,0,0.15);
}
.filter-controls__reset{
	background-position: 0 -60px;
	margin-top: 6px;
}

a.b-filter-help, a.b-filter-help:hover {
	text-decoration: none;
	color: #1A1A1A !important;
}

.b-filter-help {
	position: relative;
	display: block;
	width: 240px;
	height: 56px;
	background: #fff;
	border-radius: 3px;
	margin-bottom: 4px;
	box-shadow: 0px 1px 1px rgba(41, 44, 51, 0.04), 0px 2px 4px rgba(41, 44, 51, 0.08);
}

.b-filter-help:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 16px;
	width: 28px;
	height: 28px;
	background-position: center center;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuNSA4LjVMMTYuNSAxMkwxMy41IDE1LjUiIHN0cm9rZT0iI0ZFRjRGNSIgc3Ryb2tlLXdpZHRoPSIxLjQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBkPSJNMTYgMTJINyIgc3Ryb2tlPSIjRkVGNEY1IiBzdHJva2Utd2lkdGg9IjEuNCIvPjwvc3ZnPgo=');
	background-color: #DB215F;
	border-radius: 50%;
	transform: translate(0, -50%);
	transition: transform .3s ease-out, opacity .3s ease-in-out;
}

.b-filter-help__box {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 28px;
	border-radius: 3px;
	overflow: hidden;
}

.b-filter-help__box:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 39px 0 0 24px;
	border-color: transparent transparent transparent #DB215F;
}

.b-filter-help__box:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 56px 22px 0 0;
	border-color: #981497 transparent transparent transparent;
}

.b-filter-help:hover:before {
	transform: translate(5px, -50%);
}
.b-filter-help:active:before {
	transform: translate(10px, -50%);
	opacity: 0;
}

.b-filter-help__text {
	width: 157px;
	max-height: 36px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
}

.filter-controls__help{
	background: url(/img/up/i-filter.png) no-repeat;
	background-position: 0 -30px;
	padding-left: 28px;
	display: inline-block;
	margin: 7px 15px;
	line-height: 43px;
}

.filter-controls__toggle{
	margin-right: 48px;
}
.filter-controls__helplink{
	color: #000;
}
.cr-filter-controls-fixed {
	position: fixed;
	bottom: 0;
	BACKGROUND: #FFF;
	WIDTH: 268PX;
	Z-INDEX: 1;
	BOX-SHADOW: 0px -8PX 21PX -6px RGBA(0,0,0,.1);
	margin-left: -18px;
	padding-bottom: 12px;
}
/******************************************************************************/
/*Слайдер*/
.ui-slider-container{
	height: 7px;
	padding: 0 4px;
	margin: 14px 18px 0;
	background: #D3D3D3;
}
.ui-slider{
	top: 3px;
	height: 2px;
	background: #998B96;
}
.ui-slider-handle{
	display: block; position: absolute; top: -7px; z-index: 1;
	width: 15px; height: 25px; margin-left: -8px;
	background: url(/img/up/ui-slider-handle.png) no-repeat -15px -20px;
}

.ui-slider-range{
	height: 2px;
	background: #0072BC;
}

/******************************************************************************/
/*РЕЗУЛЬТАТ ФИЛЬТРАЦИИ*/
/******************************************************************************/
	.b-result .b-result__outer{
		display: table;
		table-layout: fixed;
		width: 100%;
	}
		.b-result .b-result__outer .b-result__inner{
			display: table-row;
		}
		.b-result .b-result__outer .b-result__inner .result__desc .result__tools{
			width: auto;
		}
			.b-result .b-result__outer .b-result__inner .result__desc .g-buybtn,
			.b-result .b-result__outer .b-result__inner .result__desc .g-basketbtn{
				margin: 0 auto;
			}
			.b-result .b-result__outer .b-result__inner .result__desc .b-reviews-rate{
				margin-right: auto;
				margin-left: auto;
			}
			.b-result .b-result__outer .b-result__inner .cr-result__simple{
				display: table-cell;
				float: none;
				width: 25%;
				vertical-align: top;
				text-align: center;
				border: none;
				border-left: 1px dotted #a6a6a6;
				/*padding: 0 15px;*/
				padding-top: 0;
			}
			.b-result .b-result__outer .b-result__inner .cr-result__simple .g-label{
				top: 0;
				right: -4px;
			}
			.b-result .b-result__outer .b-result__inner .cr-result__simple dl{
				padding: 0 5px;
			}
				.b-result .b-result__outer .b-result__inner .cr-result__simple dt{
					padding: 0;
					margin-bottom: 14px;
				}
				.b-result .b-result__outer .b-result__inner .cr-result__simple dd{

				}
			.b-result .b-result__outer .b-result__inner .cr-result__simple.cr-result__first{
				border: none;
				padding: 0;
			}
			.b-result .b-result__outer .b-result__inner .cr-result__simple.cr-result__empty{
				border: none;
			}
			.b-result .b-result__outer .b-result__inner .cr-result__simple .result__name{
				padding: 0 5px;
			}
			.b-result .b-result__outer .b-result__inner .cr-result__simple .result__img{
				width: 100%;
				height: 150px;
				float: none;
				display: table;
				margin-right: 0;
			}
				.b-result .b-result__outer .b-result__inner .cr-result__simple .result__img__outer{
					display: table-row;
				}
					.b-result .b-result__outer .b-result__inner .cr-result__simple .result__img__inner{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
					}
.b-result{
	overflow: hidden;
}
.result__item{}
	.cr-result__full{

	}
	.cr-result__simple{
		float: left;
		width: 48%;
	}
	.cr-result__first{
		padding-right: 4%;
	}
/*1 - Основное о товаре*/
.result__root {
	clear: both;
	padding-top: 18px; margin-bottom: 18px;
}
.result__item dl{
	overflow: hidden;
}
.result__price{font-size: 18px; }

.result__tools .result__oldprice{
	display: block;
	font-size: 12px;
	padding-bottom: 5px;
	margin-top: -19px;
}

.cr-result__simple .result__tools .result__oldprice {
	margin-top: 0;
}
.result__priceunit{font-size: 75%; }
/*Основная ссылка*/
.result__link, .result__name{
	/*display: block; - */
	font-size: 16px;
	line-height: 1;
}
.cr-result__full .g-code{
	float: right;
	margin-left: 12px;
	line-height: 18px;
	font-size: 12px;
}
.cr-result__simple .g-code {
	margin-bottom: 6px;
}
/*Картинка товара*/
.result__img{
	position: relative; float: left;
	width: 150px; min-height: 60px; margin-bottom: 18px; margin-right: 12px; margin-left: 3px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.result__img img{
	max-width: 150px;
	max-height: 150px;
}

.result__brand{
	position: absolute; top:3px;left:0;z-index: 1;
	height: 30px;
}


/*2 - Инструментарий товара*/
.result__tools{
	width: 130px;
}
	.cr-result__full .result__tools{float: right; display: block; margin-left: 24px;}
	.cr-result__simple .cr-result__emptydesc .result__tools{margin-top: 12px;}

.result__tools-item{ display: block; margin-bottom: 12px; }

.result__compare{display: inline-block;} /*ссылка-сравнение*/
.result__buybtn{  } /*кнопка-купить*/
	.cr-result__full .cr-result__emptydesc .result__buybtn{margin-top: 0;}

/*3 - Описание товара*/
.result__desc{display: block;overflow: hidden; /*margin-left: 162px; chrome*/}
/*Хар-ки*/
.result__attrs{overflow: hidden;}

.cr-result__attr_feature{
	font-style: italic;
	padding-top: 8px;
}
.cr-result__attr_feature:before{
	content: '— ';
}

.result__attrs table{
	border-collapse: collapse;
	overflow: hidden;
	width: 100%;
}
.result__attr_var {
	padding-right: 12px;
	width: 45%;
	z-index: 2;
	white-space: nowrap;
}
.result__attr_var , .result__attr_val{
	padding-bottom: 6px;
	line-height: 18px;
	vertical-align: top;
}
/******************************************************************************/
/*Управление результатами*/
.b-tools{
	clear: both;
	padding-top: 18px; line-height: 28px;
	overflow: hidden;
}
/*1 - Ограничение результатов*/
.tools-limit{float: left}
.tools-limit__item{float: left;}
.tools-limit__link{margin: 0 6px; }
	.cr-tools-limit__first{margin-left: 0;} /*анулируем отступ*/
/*ограничитель*/
.cr-tools-limit__first .tools-limit__link{border-right: 1px solid #4D4D4D;}
	.cr-tools-limit__active {font-weight: bold; color: #4D4D4D; }
	.cr-tools-limit__active .tools-limit__link{color: inherit; text-decoration: none; border: none; cursor:default;}/*активный*/
	.cr-tools-limit__active .tools-limit__link:hover {color: inherit  !important;}

/*2 - Сортировка*/

.tools-sort.disabled a, .tools-sort.disabled .g-pseudo_href {
	pointer-events: none;
}

.tools-sort__item{
	float: left;
	height: 28px;
	padding: 0;
}
.tools-sort__item.g-cr-desc{background-position: 95% 1px;}
.tools-sort__item.g-cr-asc{background-position: 95% -27px;}

.cr-tools-sort__bi.g-arr {
	line-height: 28px;
}

	.cr-tools-sort__desc, .cr-tools-sort__asc{padding-right:18px;}
	.cr-tools-sort__first{margin-right: -1px;}
	.cr-tools-sort__middle{margin-right: -1px;}
	.cr-tools-sort__last{ }
	.cr-tools-sort__active{border-color: #0072BC; z-index: 2; }
.tools-sort__link{display: block; padding: 0 15px; text-decoration: none;}

.cr-tools-sort__active.cr-tools-sort__uni span,
.cr-tools-sort__active.cr-tools-sort__uni span:hover{
	cursor:default; border: none; color: #4D4D4D !important;
}
.cr-tools-sort__active.cr-tools-sort__uni .tools-sort__link {
	cursor:default;
}
.cr-tools-sort__active.cr-tools-sort__bi span {color: #4D4D4D; border-color: #4D4D4D;}

/* Выбор вида каталога */
.tools-view{
	float: right;
	padding-left: 2%;
}
	.tools-view__item{
		border: 1px solid #D3D3D3;
		float: left;
	}
	.tools-view__item.cr-tools-view__first{
		margin-right: -1px;
	}
	.tools-view__item.cr-tools-view__last{
	}
	.tools-view__item.cr-tools-view__active{
		border-color: #0072BC;
		z-index: 2;
	}
		.tools-view__link{
			line-height: 28px;
			width: 28px;
			display: block;
			background-image: url("/img/icon-view-type.png");
			background-repeat: no-repeat;
			text-indent: -10000px;
		}
		.tools-view__link.icon-view-list{
			background-position: -1px -31px;
		}
			.tools-view__item.cr-tools-view__active .tools-view__link.icon-view-list,
			.tools-view__link.icon-view-list:hover{
				background-position: -1px -1px;
			}
		.tools-view__link.icon-view-grid{
			background-position: -31px -31px;
		}
			.tools-view__item.cr-tools-view__active .tools-view__link.icon-view-grid,
			.tools-view__link.icon-view-grid:hover{
				background-position: -31px -1px;
			}

/*Сравнение*/
.tools-compare{float: right;}

.b-related-links{
	margin: 23px 0 0;
}
	.b-related-links__label{
		margin-right: -100%;
		font-weight: bold;
	}
	.b-related-links__items__wrap{
		width: 100%;
	}
	.b-related-links__items__inner{
		margin-left: 114px;
		height: 18px;
		overflow: hidden;
	}
		.b-related-links__items__inner .scroll{
			display: none;
			height: 22px;
			width: 35px;
			position: absolute;
			top: 0;
			z-index: 2;
		}
		.b-related-links__items__inner .scroll-right{
			right: 0;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
		}
		.b-related-links__items__inner .scroll-left{
			left: 0;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
		}
		.b-related-links__items{
			white-space: nowrap;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}
		.b-related-links__item{
			display: inline;
			padding: 0;
			text-transform: lowercase;
		}
			.b-related-links__item__link{
				margin: 0 11px 0 0;
			}
		.cr-no-margin-btm{
			margin-bottom: 0px;
		}
	.cr-show-filter{
		display: block;
	}

	.cr-curent{
		background-color: #0072BC;
		color: white;
	}
	.cr-catalog_top_paging{
		line-height: 36px;
		text-align: center;
		width: 100%;
		z-index: 1;
		margin-bottom: -15px;
		padding-top: 15px;
	}
	.cr-paging_nav{
		background: none repeat scroll 0 0 #FFFFFF;
		color: #AA90A5;
		position: absolute;
		top:0px;
		display: inline-block;
		width: 132px;
		font-size: 12px;
		text-align: center;
		z-index: 10;
		left: 0;
		right: 0;
		margin: auto;
	}
	.cr-paging_nav a{
		text-decoration: none;
		font-weight: 900;
	}
	.cr-paging_link{
		font-size: 15px;
		font-weight: 100;
		display: inline-block;
		margin: 22px 5px 5px 5px;
		width:28px;
	}
	.cr-paginator_page_list{
		color:#AA90A5;
	}
	.item__notification{
		display: inline-block;
		margin-bottom: 10px;
	}
.b-recipes{
	line-height: 2;
}
	.b-recipes_wrap {
		max-height: 60px;
		overflow: hidden;
	}
	.b-recipes__items{

	}
		.b-recipes__item{
			display: inline-block;
			margin-bottom: 6px;
		}
		.b-recipes__item__link{
			margin: 0 11px 0 0;
			white-space: nowrap;
		}
		.b-recipes__item__span{
			margin-right: 11px;
			padding: 1px 5px;
			display: inline-block;
			border: 1px solid #4A85CC;
			color: #252525;
		}
		.cr-show_recipes_more{
			max-height: none;
		}
		.b-recipes__more{
			display: none;
			position: relative;
		}
		.b-recipes__more:before {
			content: ' ';
			position: absolute;
		}
		.b-recipes__more:before {
			left: 27px;
			top: 11px;
			border: 4px solid transparent;
			border-top: 4px solid #0072bc;
		}
		.b-recipes__more.active:before {
			left: 22px;
			top: 9px;
			border: 4px solid transparent;
			border-right: 4px solid #bc1242;
		}

.partlyPay__offer.hidden {
	display: none;
}

.result__shipment {
	color: #080808;
	margin-bottom: 10px;
	line-height: 1.33;
	font-size: 10px;
	background: url(/img/up/g-free_label.png) 100% 0 repeat-y;
	background-color: #ededed;
	border-left: 4px solid #0072BC;
	padding: 5px 2px 5px 7px;
	font-weight: bold;
}
.cr-result__simple .result__shipment{
	margin: 0 12px 12px;
}
.cr-filter__cars_filter{
	padding-top: 10px;
	margin-bottom: 0px;
	background-color: #fef5e6;
}
.cr-filter__cars_filter .g-form__select{
	margin: 5px 0;
}
.b-cars_filter_result{
	margin:10px 0;
}
.b-cars_filter_result .b-cars_filter_result__list{
	margin-bottom: 10px;
}
.b-cars_filter_result .b-cars_filter_result__item{
	display: inline-block;
	line-height: 23px;
	margin-right: 9px;
}
.cr-filter__producers.g-box_lseparator{
	margin-top: 0px;
}
.widget_selection__goods > ul {
	overflow: hidden;
}
.cr-result__full dl {
	display: flex;
}
.catalog-result__item_data {
	flex: 1 1 auto;
	margin-right: 30px;
}
.b-result .b-result__outer .b-result__inner .result__desc .catalog-result__item_tools.result__tools {
	width: 152px;
	margin: 0 auto;
}
.cr-result__full .catalog-result__item_tools {
	flex: 0 0 152px;
	padding-top: 28px;
}
.catalog-result__item_tools.result__tools {
	float: unset;
	margin-left: unset;
	display: flex;
	flex-direction: column;
}
.g-box_lseparator.g-box_lseparator_catalog {
	padding-top: 12px;
}
.catalog-result__item_data .result__root {
	padding-top: 0;
}
.cr-result__full .catalog-result__item_meta {
	display: flex;
	margin: 0 0 12px 165px;
}
.cr-result__simple .catalog-result__item_meta {
	padding-top: 8px;
}
.cr-result__full .catalog-result__item_meta .g-code, .cr-result__simple .catalog-result__item_meta .g-code {
	float: unset;
	margin-left: 0;
}
.cr-result__full .catalog-result__item_meta .g-code {
	margin-right: 8px;
}
.g-catalog-status {
	display: block;
	color: #999999;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	padding-left: 18px;
}
.cr-result__simple .g-catalog-status {
	display: inline-block;
}
.g-catalog-status.cr-status__in {
	background: url("/img/up/status-in-sign.svg") no-repeat;
}
.g-catalog-status.cr-status__request {
	color: #FAAA32;
	background-image: url("/img/up/clock.svg");
	background-repeat: no-repeat;
	background-position: 0 1px;
	background-size: 14px;
	max-height: 17px;
	padding-left: 19px;
	z-index: 1;
}
.g-catalog-status.cr-status__out {
	background: url("/img/up/status-out-sign.svg") no-repeat;
	color: #EA1653;
}
.g-catalog-status.cr-status__markdown {
	background: url("/img/up/status-markdown-sign.svg") no-repeat;
}
.g-catalog-status.hidden {
	display: none;
}
.catalog-result__item_data .catalog-labels .g-free_label {
	height: unset;
	line-height: 12px;
	margin-right: 4px;
	padding: 1px 9px 0 5px;
}
#j-search_result .catalog-result__item_tools .result__price {
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 12px;
}
#j-search_result .catalog-result__item_tools .g-price.result__oldprice {
	padding-bottom: 8px;
}
.catalog-result__item_tools .result__priceunit {
	font-size: 14px;
	line-height: 20px;
}
.catalog-result__item_tools .b-reviews-rate-catalog {
	width: 75px;
	height: 15px;
}
.catalog-result__item_tools .b-reviews-rate-catalog .reviews-rate-catalog {
	display: inline-block;
	height: 15px;
}
.catalog-result__item_tools .b-reviews-rate-catalog {
	margin: 0 0 12px 0;
	background: url("/img/up/i-rate-empty.svg") repeat-x;
}
.rating-container.result__tools-item {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
.cr-result__simple .b-reviews-rate-catalog {
	text-align: left;
}
.rating-container.result__tools-item .b-reviews-rate-catalog {
	margin-bottom: 16px;
}
.catalog-result__item_tools .b-reviews-rate-catalog .reviews-rate-catalog {
	background: url("/img/up/i-rate-filled.svg") repeat-x;
}
.catalog-result__item_tools .g-buybtn {
	width: 100%;
}
.cr-result__full .result__item_markdown {
	margin-top: -8px;
}
.catalog-result, .catalog-installment {
	padding-left: 22px;
	font-size: 11px;
	line-height: 18px;
	color: #1A1A1A;
}
.cr-result__simple .catalog-result, .cr-result__simple .catalog-installment {
	text-align: left;
}
.catalog-installment {
	background: url("/img/up/installment-sign.svg") no-repeat;
}
.partlyPay__offer .partlyPay__price {
	font-size: 13px;
}
.catalog-result {
	background: url("/img/up/delivery-sign.svg") no-repeat;
}
.catalog-installment + .catalog-result {
	margin-top: 8px;
}
.catalog-result__item_tools .cr-notif-to-list {
	display: block;
	border: 1px solid #0072BC;
	padding: 7px 0;
	text-align: center;
	cursor: pointer;
}
.catalog-result__item_tools .cr-notif-to-list:hover {
	border-color: #BC1242;
}
.catalog-result__item_tools form {
	margin-bottom: 12px;
}
.catalog-result__item_tools .g-basketbtn {
	margin-bottom: 13px; /* у кнопки выше на 1 px больше за счет отступа самой кнопки - его трогать не буду */
	width: calc(100% - 4px); /* 4px - границы  */
}
.cr-result__simple .catalog-result__item_tools form, .cr-result__simple .item__notification {
	margin-bottom: 12px;
}
.b-result .b-result__outer .b-result__inner .cr-result__simple .result__desc .catalog-result__item_tools .g-basketbtn {
	margin: 0 0 12px;
	width: 100%;
}
.cr-result__simple .compare-container {
	margin-top: -4px;
}
.catalog-result__shipment .hidden {
	display: none;
}

/* AdFox ******************/
.b-adfox_category{
	border: 1px solid #e2e2e2;
	margin-top: 8px;
	margin-bottom: 18px;
}
.b-adfox_category:hover{
	box-shadow: 0 0px 10px 2px rgba(0,0,0,.1);
	z-index: 1;
}
/* end AdFox ******************/
