.company-logo-container {
    width: 100%;
    height: 68px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #0d2e4e;
}

.company-logo {
    display: flex;
    position: relative !important;
    justify-content: flex-end;
    width: 100%;
    height: 65px;
}

.company-title {
    display: block;
    float: right;
    margin: auto;
}

.chat {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    margin: auto;
}

.message {
    display: flex;
    flex-direction: row;
}

.message__content {
    width: 80%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow-wrap: break-word;
}


.message__content .message__created-date {
    color: #78909c;
    font-size: 0.75rem;
    font-style: italic;
}

.message__answer .avatar-container {
    width: 15%;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
}

.message__answer .message__avatar {
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.message__answer .message-avatar {
    width: 26px;
    height: 32px;
    border: 1px solid;
}

.message__answer .message__content {
    background-color: #eceff1;
    margin-left: 5px;
}

.message__question .avatar-container {
    float: right;
    width: 15%;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
}

.message__question .message-avatar {
    float: right;
    margin-right: 5px;
    width: 26px;
    height: 32px;
    border: 1px solid;
}

.client_message {
    justify-content: flex-end;
    display: flex;
}

.operator_message {
    background-image: url("../img/standart_avatar.png");
    background-size: 40px, 40px !important;
    background-position: left top 10px;
    background-repeat: no-repeat;
    justify-content: flex-start;
    display: flex;
}


.message__question .message__content {
    background-color: #fff;
}

.chat .chat__content {
    position: relative;
    height: 100%;
}

    .chat .chat__content .chat__body {
        position: absolute;
        top: 100px;
        bottom: 77px;
        width: 100%;
        overflow: auto;
    }

.chat__footer {
    display: block;
    padding: 8px;
    align-items: center;
}

.chat-input-contairner {
    width: 90%;
    display: block;
    margin-top: 0px;
    padding: 0px;
    background-color: #fff;
}

.chat .chat__content {
    position: relative;
    height: inherit;
}

    .chat .chat__content .chat__header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        background-color: #559ded;
        padding: 0, 0, 0, 20px;
    }

    .chat .chat__content .chat__header-content {
        display: flex;
        flex-direction: row;
    }

        .chat .chat__content .chat__header-content .chat__title {
            padding: 10px;
        }

        .chat .chat__content .chat__header-content .chat__avatar {
            margin-right: 4px;
        }

    .chat .chat__content .chat__footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.chat .chat__loader {
    width: 30px;
    height: 30px;
    color: #4b3252;
    margin-left: 50%;
}

.send-button-icon {
    background: url(../img/send.svg);
    filter: invert(74%) sepia(9%) saturate(120%) hue-rotate(175deg) brightness(94%) contrast(88%);
    background-size: 100% 98%;
    width: 35px;
    position: absolute;
    height: 25px;
    bottom: 12px;
    left: 10px;
}

.chat .chat__content-footer--link {
    margin-right: auto;
    margin-left: auto;
    display: table;
    margin-top: 3rem;
}

.input-container {
    left: 0;
    bottom: 0;
    width: 95%;
    height: 100px;
    display: block;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}

.chat-input-contairner .MuiInputBase-multiline {
    padding: 10px 9px 7px;
}


.MuiInputAdornment-positionEnd {
    margin-left: 45px !important;
}

.company-logo-container {
    height: 70px;
}

.company-logo {
    background: url("../img/logo.png");
    background-size: contain;
    background-color: #0d2e4e;
    background-repeat: no-repeat;
    margin-left: 5px;
    min-width: 100px;
    max-width: 100px;
}

.company-title::after {
    padding: 20px;
    content: "Задайте Ваш вопрос";
    text-indent: 0;
    display: block;
    margin: auto;
    line-height: initial;
    color: #fff;
    width: 100%;
    font-size: 18px;
}

.chat__header {
    background-color: #0d2e4e;
}

.message__answer .avatar-container {
    border: 0px;
    width: 30px;
    height: 30px;
}

.message__answer .message-avatar {
    border: 1px;
    background: url(../img/standart_avatar.png) no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: auto;
    margin-right: 0px;
}

.message__question .avatar-container {
    border: 0px;
    width: 0px;
}

.message__question .message-avatar {
    border: 0px;
    width: 0px;
}

.message__content {    
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    color: #4e7bd8;
    border-color: darkgrey;
    border: 1px solid;
}

.operator_message .message__content {
    margin-left: 45px;
}

.message__image {
    max-width: 100%;
    min-height: 5rem;
    max-height: 15rem;
}

.message__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    margin: 3px;
    color: white;
    background-color: #1c9110;
    border-radius: 5px;
}

.message__button.button__disabled {
    background-color: #777777;
}

.message__button:hover {
    color: rgb(255, 241, 212);
}

.chat__body {
    background-color: #fff;
}

.chat__footer {
    background-color: #fff;
}

.answer-message-body .answer-message-body__button {
    display: block;
    padding: 5px;
    margin: 10px auto;
    width: 100%;
    color: #fff;
    background-color: #22ac14;
    text-transform: none;
    word-spacing: 2px;
    letter-spacing: 1px;
}


    .answer-message-body .answer-message-body__button :hover {
        background-color: #1c9110;
    }

    .answer-message-body .answer-message-body__button .MuiButton-label :hover {
        background-color: #1c9110;
    }

.MuiButton-root:hover {
    background-color: #1c9110;
}

.input-container__fetch-file {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 20px;
    margin-left: -20px;
}

#loading-cover {
    box-sizing: inherit;
    position: absolute;
    width: 100%;
    scrollbar-width: none;
    height: 100%;
    background-color: rgb(247, 243, 239);
}

#loading-spinner {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    top: 50vh;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 7px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: rgb(31, 30, 30);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }